#blog h3,h4{
	text-align: center;
	padding-bottom: 20px;
}
#blog .contenedor {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#blog article{
	margin: 15px;
}
#blog img{
	width: 100%;
	max-width: 280px;
	border-radius: 10px;
	border-color: aqua;
}

#blog .contenedor1 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}